.item
{
    width:100px;
    height:50px;
    border:1px solid grey;
    text-align: center;
    float:left;
}
.w-50
{
    width:50px;
}
.w-100
{
    width:100px;
}
.w-300
{
    width:300px;
}
.bw
{
    font-weight:bold;
}
.title
{
    font-size:14px;
    font-weight:bold;
}